In [1]:
import pandas as pd
import numpy as np
from a_vine import model as av

Set parameter Username
Set parameter GURO_PAR_SPECIAL
Set parameter TokenServer to value "leghorn"

In [2]:
model_genes = [g.id for g in av.genes]

In [3]:
df = pd.read_excel('jb.00404-21-s0005.xlsx', skiprows=4)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,gene_cnt,n_ta,n_hit,grp,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,Avin_09640,Avin_09640,555.345803,100,11,E,PA3228,PA3228,1.890000e-38,146.0,NaN
1,NaN,Avin_09722,Avin_09722,307.974828,55,6,E,PA5489,dsbA,8.880000e-15,67.4,NaN
2,NaN,Avin_46800,lptD,291.405339,54,23,E,PA0595,ostA,0.000000e+00,1129.0,E
3,NaN,Avin_37310,Avin_37310,119.583577,51,5,E,NaN,NaN,NaN,NaN,NaN
4,NaN,Avin_33290,nrdA,19.494962,48,10,E,PA1156,nrdA,0.000000e+00,970.0,E

In [5]:
ess_genes = df[['Unnamed: 1']].copy()
ess_genes['gene'] = ess_genes['Unnamed: 1']
ess_genes['essential'] = True
del[ess_genes['Unnamed: 1']]
ess_genes.shape

(475, 2)

In [6]:
all_genes = pd.DataFrame(np.array([model_genes, [0,]*len(model_genes)]).T, columns=['gene', 'essential'])
all_genes.head()

         gene essential
0  Avin_00080         0
1  Avin_00090         0
2  Avin_00100         0
3  Avin_00110         0
4  Avin_00130         0

In [7]:
all_genes.loc[all_genes.gene.isin(ess_genes.gene), 'essential'] = True
all_genes.loc[~all_genes.gene.isin(ess_genes.gene), 'essential'] = False

In [8]:
all_genes.head()

         gene essential
0  Avin_00080      True
1  Avin_00090     False
2  Avin_00100      True
3  Avin_00110      True
4  Avin_00130     False

In [9]:
all_genes.essential.unique()

array([True, False], dtype=object)

In [10]:
all_genes.to_csv('../ge_knockouts.csv', index=False)